body{
  font-family: 'Roboto', sans-serif;
  background-color: #c3c8ca;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}

.overfillno {
  max-width: 100%;
}

.loginspace {
  max-height: 50vh;
}

.loginbox {
  text-align: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

.loginbox h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #c3c8ca;
}

.loginbox p {
  padding-left: 10%;
  text-align: left;
  margin-bottom: 1%;
  color: #c3c8ca;
}

.loginbox input {
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  outline: none;
  width: 80%;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  background: #720429;
  color: #fff;
  width: 50%;
  border-radius: 10px;
  font-size: 18px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #440e20;
}

.loginbox a {
  text-decoration: none;
  color: #494949;
}

.carded {
  background-color: #111;
  border-radius: 20px;
  padding:35px;
}

.filled{
  background-color: #c3c8ca;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

footer{
  background-color: #111;
  color: #fff;
}

.wait {
  animation-delay: 0.5s;
}

.wait2 {
  animation-delay: 1s;
}

.nav {
  margin-right: 10px;
}

.btn-primary{
  background-color: #bada55;
}

.btn-primary:hover{
  background-color: black;
}

.red{
  color: #AD1E00
}

.purple{
  color: #5B3271
}

.blue-light{
  color: #01C6FB
}

.blue-dark{
  color: #232563
}

#navigation {
  background-color: rgba(72, 8, 111, 0.4);
  border: 0 none;
  margin: 0;
}

.branding {
  height: 25px;
}

.logo {
  margin: 0;
}

.avatar {
  width: 40%;
  border-radius: 50%;
}