<form action="/petadd" method="POST">
    <p>Name</p>
    <input type="text" name="name" placeholder="Enter Name">
    <p>Age</p>
    <input type="text" name="age" placeholder="Enter Age">
    <p>Breed</p>
    <input type="text" name="breed" placeholder="Enter Breed">
    <input type="submit" value="Submit"><br>
</form>