{{!-- Contacts List --}}
<div class="messageContainer"></div>
{{#if petsExist}}
{{#each pets}}
<div class="col-lg-4 col-xs-12 carded">
    <h2>{{this.name}}</h2>
    <p>{{this.age}}</p>
    <p>{{this.breed}}</p>
</div>
{{/each}}
{{else}}
<h1>No Contacts</h1>
{{/if}}