{{!-- Contacts List --}}
<div class="messageContainer"></div>
{{#if remindersExist}}
{{#each reminders}}
<div class="col-lg-4 col-xs-12 carded-inner">
    <h2>{{this.pet}}</h2>
    <p>{{this.event}}</p>
    <p>{{this.time}}</p>
</div>
{{/each}}
{{else}}
<div class="col-xs-12 text-center">
    <h1>No Events</h1>
</div>
{{/if}}