{{#if userExist}}
<div class="msguser">User exists please login instead!</a>
{{else}} {{#if userDoesNotExist}}
<div class="msguser">User created! Hurray!</a>
{{/if}}{{/if}}
<form action="/signin" method="POST">
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" value="Submit"><br>
    <a href="">Forgotten Password?</a><br>
    <a href="/create">Don't have an account?</a>
</form>