<form>
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" name="submit" placeholder="Login"><br>
    <a href="home.html">Forgotten Password?</a><br>
    <a href="create.html">Don't have an account?</a>
</form>