{{#if userExist}}
<div class="msguser">User exists please login instead!</a>
{{else}} {{#if userDoesNotExist}}
<div class="msguser">User created! Hurray!</a>
{{/if}}{{/if}}
<form>
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" name="submit" placeholder="Login"><br>
    <a href="">Forgotten Password?</a><br>
    <a href="/">Don't have an account?</a>
</form>